.mainH {
    text-align: center;
}

.inputDescription {
    min-height: 100px;
}

#formGroupExampleInput3 {
    min-height: 150px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#submitForm {
    margin-left: 50%;
    top: 2px;
}

body {
    background-image: url("images/pizza2.jpg");
}

.form-group {
    background-color: #DCB4B4;
    min-height: 60px;
}

.form-control {
    background-color: #FEE4E4;
    min-height: 60px;
}

.formDiv {
    background-color: #FFF8F8;
}

.selectFileClass {
    width: 100%;
}

.input-group-btn {
    position: relative;
    font-size: 50px;
    white-space: nowrap;
    padding-left: 45%;
    background-color: #FEE4E4;
    min-height: 60px;
}

